#game{
    background-color: rgb(126, 163, 231);
    width: 200px;
    height: 100px;
    position: relative;
    font-size: large;
    margin-top: 100px;
    padding: .25em;
    left: 50%;
    /* -ms-transform:translate(-50%, -50%); */
    transform: translate(-50%, -50%);

}
#hopper{
    background-color: rgb(126, 163, 231);
    width: 200px;
    height: 100px;
    position: relative;
    font-size: large;
    margin-top: 50px;
    padding: .25em;
    left: 50%;
    /* -ms-transform:translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}
#space{
    background-color: rgb(126, 163, 231);
    width: 200px;
    height: 100px;
    position: relative;
    font-size: large;
    margin-top: 50px;
    padding: .25em;
    left: 50%;
    /* -ms-transform:translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}
body{
    background-color: rgb(179, 209, 235);
}